{% extends 'blogs/base.html' %}

{% block header %}
	<h2>文章列表&nbsp;&nbsp;<small><a href="{% url 'blogs:new_post' %}">新文章</a></small></h2>
{% endblock header %}

{% block content %}

	<ul>
		{% for post in posts %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>
						{{ post.title }}
						<small>
							     &nbsp;&nbsp;&nbsp;    &nbsp;   {{ post.date_added|date:'Y/m/d H:i' }}&nbsp;  作者：{{ post.owner }}&nbsp;  
							     {% if post.owner == user %}
							     	<a href="{% url 'blogs:edit_post' post.id %}">编辑文章</a>
							     {% endif %}
						</small>
					</h3>
				</div>
				<div class="panel-body">
					{{ post.text|linebreaks }}
				</div>
			</div>
		{% empty %}
			当前还没有任何文章。<a href="{% url 'blogs:new_post' %}">写一篇</a></li>
		{% endfor %}
	</ul>

{% endblock content %}